
h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 240%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
p#step{
	padding: 20px 0;
	font-size: 240%;
	font-weight: 300;
	text-align: center;
}
input{
	margin-left: 25%;
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 155% Arial, Helvetica, sans-serif;
}
 h2{
	 text-align: center;
	color: #555;
	font: 195% Arial, Helvetica, sans-serif;
 }
 .buttons_form{
	margin-left: 25%;
	margin-right: 25%;
 }
button{
	font: 195% Arial, Helvetica, sans-serif;
	cursor: pointer;
	 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	 
	color: #fff;
}
#refresh{
	display: none;
}